:root {
    --background_appearance: hsl(0, 0%, 12%);
    --foreground_appearance:hsl(0, 0%, 100%);
    --button_appearance: hsl(0, 0%, 100%);
}

body {
    color: var(--foreground_appearance);
    background-color: var(--background_appearance);
}