:root {
    --background_appearance: rgb(32, 32, 32);
    --foreground_appearance:rgb(255, 255, 255);
    --button_appearance: rgb(255, 255, 255);
    --test: rgb(248, 246, 237);
}

body {
    color: var(--foreground_appearance);
    background-color: var(--background_appearance);
    margin: 0;
}

a:link {
    text-decoration: none;
    color: rgb(255, 217, 0);
}
a:visited {
    color: rgb(255, 153, 0);
}
a:hover {
    color: hotpink;
}
a:active {
    color: hotpink;
}