body {
    padding: 0;
    margin: 2vh;
    color: orange;
}
h1 {
    font-size: x-large;
}

.console {
    display: inline-block;
}

.info {
    float: right;
}

.pfps_list {
    margin: 0;
    font-size: small;
}