body {
    background-color: rgb(32, 32, 32);
}

* {
    margin: 0;
}

button:hover {
    background-color: rgb(194, 38, 38);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

button:active {
    transform: translateY(1px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

/* Street View */


.streetview-class {
    z-index: -1;
    display: flexbox;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgb(0, 0, 0);
}

/* Map */

#street-view {
    z-index: 0;
}

#map {
    z-index: 1;
    width: 100%;
    height: 100%;
}

#map-class {
    z-index: 1;
    opacity: 0.5;
    cursor: crosshair;
    position: fixed;
    top: 58vh;
    left: 63vw;
    width: 35vw;
    height: 35vh;
    border: 2px solid #ccc;
}

/* Buttons */

#guess-button {
    z-index: 2;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.6vh 3vw;
    border: none;
    border-radius: 5px;
    background-color: rgb(117, 25, 25);
    color: white;
    font-size: medium;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translate(-130%, -50%);
}

#center-button {
    z-index: 2;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.6vh 3vw;
    border: none;
    border-radius: 5px;
    background-color: rgb(117, 25, 25);
    color: white;
    font-size: medium;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translate(30%, -50%);
}

#toggle-map,  #new-round-button, #restart-button {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(117, 25, 25);
    color: white;
    font-size: medium;
    cursor: pointer;
}

/* Player display */

.player-display {
    margin-top: 0.5vh;
    margin-left: 1.5vw;
    user-select: none;
    color: rgb(255, 255, 255);
    font-size: x-large;
    display: inline-table;
}

.player-list {
    color: rgb(255, 255, 255);
    display: flex;
    margin-left: 5px;
    list-style: decimal;
    padding: 2px;
    flex-direction: column;
}

.player-list li {
    font-size: large;
    color: rgba(255, 255, 255);
    padding: 2px;
}

/* Misc */

#round-timer-display {
    align-items:flex-end;
    flex-direction: column;
    position: absolute;
    top: 0.5vh;
    right: 0.5vw;
    user-select: none;
    display: inline-flex;
    font-size: x-large;
}

#round-timer-display, .player-display {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
}

#mtos {
    user-select: none;
    font-size: xx-small;
    position: absolute;
    top: 98%;
    left: 0.5%;
    display: flex;
}

.menu-div { 
    user-select: none;
    top: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    column-gap: 1vw;
    left: 50%;
    transform: translate(-50%, -50%);
}

#endscreen {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 80%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid rgb(56, 56, 56);
    background-color: rgb(0, 0, 0);
}

#endscreen p {
    font-size: x-large;
}

.score-display {
    margin-left: 0%;
    background-color: black;
    font-size: large;
    padding: 10vh;
    display: inline-block;
    align-items: center;
}

.score-list {
    display: flex;
    margin: 3px;
    list-style: decimal;
    padding: 5px;
    flex-direction: column;
}

.score-list li {
    font-size: medium;
    padding: 5px;
    background-color: #272727;
    border-radius: 1px;
    margin-top: 1px;
}