body {
    font-size: x-large;
}

h2 {
    margin: 0;
}

p3 {
    text-align: center;
    margin: 1vh;
    font-size: 80%;
}

#host-button, #join-button {
    margin-top: 1vh;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    background-color: rgb(117, 25, 25);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.center {
    display: flex;
    align-items:baseline;
    justify-content: center;
    flex-direction: row;
    gap: 5vw;
}

.text-class {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10%;
}

.host-class, .join-class {
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.collapsible {
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    background-color: rgb(117, 25, 25);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.active, .collapsible:hover {
    background-color: rgb(117, 25, 25);
}

.content {
    margin-left: 10%;
    width: 50%;
    padding: 0 50%;
    display: none;
    overflow: hidden;
}

.menu {
    border: 2px solid transparent;
    border-color: #fff transparent transparent transparent;
}

.slider {
    -webkit-appearance: none;
    width: 80%;
    height: 15px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-0.5deg); }
    20% { transform: translate(-3px, 0px) rotate(0.5deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(0.5deg); }
    50% { transform: translate(-1px, 2px) rotate(-0.5deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-0.5deg); }
    80% { transform: translate(-1px, -1px) rotate(0.5deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-0.5deg); }
}

.shake {
animation: shake 0.3s cubic-bezier(.36,.07,.19,.97) both;
transform: translate3d(0, 0, 0);
backface-visibility: hidden;
perspective: 1000px;
}